.MainContainer {
  background: #f2eeec;
  padding: 20px;
  margin-top: 25px;
}

.PriceContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.PaymentButton {
  background: #fc5000;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  place-items: center;
  border:none;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
