.MainContainer{
    background: #F2EEEC;
    padding:20px;
    margin-top: 25px;
}

.PriceContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}